.input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  color: #555;
  &::placeholder {
    color: #ccc;
  }
  &:focus {
    outline: 0;
  }
}
