.cart {
  background-color: #f2f2f2;
  padding: 40px 0;
  height: 800px;
  h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 60px;
  }
  .cart-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .cart__total {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: right;
  }

  .StripeCheckout {
    right: 0;
    position: absolute;
  }
}
