.dropdownItem {
  display: flex;
  align-items: center;
  color: var(--base-color-text);
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .dropdownItem__image {
    flex: 1;
    width: 80px;
    height: 70px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
  }

  .dropdownItem__numbers {
    display: flex;
    align-items: center;
  }

  .dropdownItem__details {
    flex: 1;
    margin-right: 5px;
    h3 {
      color: var(--base-color-text);
      font-size: 12px;
      margin-bottom: 15px;
    }
    span {
      margin: 0 5px 0 5px;
      font-size: 12px;
    }
    h6 {
      font-size: 14px;
      color: #aaa;
      margin-right: 0px;
      font-weight: 200;
    }
  }
}
