.card {
  position: relative;
  margin-right: 10px;
  border-radius: 10px;
  border: 6px solid rgba(165, 165, 165, 0.3);
  overflow: hidden;

  &.card--large {
    height: 250px;
    width: 320px;
  }
  &:hover .card__image {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);

    &:after {
      opacity: 0.3;
    }
  }

  &.card--small {
    height: 180px;
    min-width: 240px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &.card--small .card__image {
    border-radius: 5px;
  }

  .card__image {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #000;
      position: absolute;
      left: 0;
      opacity: 0.6;
      transition: opacity 0.1s ease-in-out;
    }
  }

  .card__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    background-color: transparent;
    color: var(--base-color);
    border: 3px solid var(--base-color);
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;

    &:hover {
      background-color: var(--base-color);
      color: #000;
    }
  }

  &.card--large:first-child {
    .card__image {
      background-position: center -40px;
    }
  }
}
