.navbar {
  color: #fff;
  border-bottom: 5px solid var(--base-color);
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 0;
  }

  .navbar__left,
  .navbar__right {
    display: flex;

    li {
      margin-right: 12px;
      border-right: 1px solid #eee;
      padding-right: 12px;
      &:last-child {
        margin-right: 0;
        border-right: 0;
      }
      a {
        padding: 5px 5px;
        transition: color 0.1s ease-in-out;
        color: var(--base-color-text);
        font-size: 14px;
        &.active {
          color: #f0932b;
        }
        &:hover {
          color: #f0932b;
        }
      }
    }
    i {
      margin-right: 5px;
    }

    .signOutContainer {
      display: flex;
      align-items: center;
      h4 {
        margin-right: 20px;
        color: var(--base-color-text);
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

  .navbar__logo-container {
    background-image: url('../../assets/logo.png');
    background-position: center;
    background-size: cover;
    display: block;
    width: 80px;
    height: 40px;
    cursor: pointer;
  }

  .item-count {
    margin-left: 4px;
  }
}
