.sign-in {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 60px;
  height: 700px;
  .sign-in-container {
    border-radius: 20px;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 40px;
  }
  border-radius: 10px;
  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    padding-bottom: 30px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
  }
  form {
    width: 60%;
    margin: 0 auto;
  }
  .buttons {
    margin: 0 auto;
    margin-top: 40px;
    width: 75%;
    max-width: 280px;
    display: flex;
    flex-direction: column;

    .btn {
      text-align: center;
      margin-bottom: 20px;
    }
    .btn:last-child {
      font-size: 14px;
      width: 60%;
      margin: 0 auto;
      margin-top: 15px;
    }
    .btn:first-child {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .btn:nth-child(2) {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  .btn-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
