.cart-dropdown {
  width: 280px;
  background-color: #fff;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 5;
  border: 3px solid rgba(65, 65, 65, 0.1);
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 7px;
  padding: 15px 15px 100px 15px;
  box-sizing: border-box;

  .btn {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 40%;
    bottom: 35px;
    padding: 10px;
    font-size: 14px;
  }
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  border-bottom: 1px solid #eee;

  .empty-message {
    font-style: italic;
    color: #aaa;
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
  }
}
